<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wifi找不到 | 圖傳系115級畢業展</title>
    <link rel="stylesheet" href="/static/gac/gac_group_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fahkwang:wght@300;400;600&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo-container">
            <a href="{{ url_for('gac_home') }}"><img src="/static/gac/logo.png" alt="GAC Logo" class="logo"></a>
            <div class="logo-text">Department of <br> Graphic Arts <br> and <br> Communication</div>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="{{ url_for('gac_home') }}#home">首頁</a></li>
                <li><a href="{{ url_for('gac_home') }}#intro">專展介紹</a></li>
                <li><a href="{{ url_for('gac_home') }}#works">全部作品</a></li>
                <li><a href="{{ url_for('gac_home') }}#about">關於圖傳系</a></li>
            </ul>
        </div>
        <div class="mobile-menu-btn"><span></span><span></span><span></span></div>
    </nav>
    <div class="mobile-menu">
        <ul>
            <li><a href="{{ url_for('gac_home') }}#home">首頁</a></li>
            <li><a href="{{ url_for('gac_home') }}#intro">專展介紹</a></li>
            <li><a href="{{ url_for('gac_home') }}#works">全部作品</a></li>
            <li><a href="{{ url_for('gac_home') }}#about">關於圖傳系</a></li>
        </ul>
    </div>

    <div class="project-detail-container">
        <img src="/static/gac/圖傳系_第四組_主視覺.png" alt="wifi找不到" class="project-hero-image">
        <div class="project-content">
            <h1>wifi找不到</h1>
            <hr>
            <div class="project-section">
                <h3>作品介紹</h3>
                <p>終於逃離趕稿地獄了哇哈哈( ᐛ ) ！！雖然畫稿超累，但每次想劇情的時候，想到青澀曖昧的『咖啡梳打』就很想拍桌大喊：兩個小可愛快點交往啊！畫『糖漬檸檬』超甜的夫夫日常也讓人忍不住姨母笑！『獵物屠夫』帶點病態的感情描寫讓人背德感超重！
但稿還是畫不完啊啊啊啊啊！鳴鳴鳴早知道就別說什麼每個月在 @wifinotfuond_ 上更新3～5次了，畫不完啊鳴鳴鳴
嗯？門鈴響了，是打樣到了嗎！！馬上開門！

小幫手：下週的稿呢？(☉д⊙ꐦ)
怎麼是你！欸我馬上畫！真的今天就給你！別拿筆電打我啊啊啊啊！

更多內容歡迎到 @wifinotfuond_ 去看看喔·͜·♡</p>
            </div>
            <div class="project-section">
                <h3>指導教授</h3>
                <div>張晏榕</div>
            </div>
            <div class="project-section">
                <h3>小組成員</h3>
                <div>劉儀、蔡善婷</div>
            </div>
        </div>
    </div>
    <script src="/static/gac/gac_main.js"></script>
</body>
</html>