<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>青春軼逝 | 圖傳系115級畢業展</title>
    <link rel="stylesheet" href="/static/gac/gac_group_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fahkwang:wght@300;400;600&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo-container">
            <a href="{{ url_for('gac_home') }}"><img src="/static/gac/logo.png" alt="GAC Logo" class="logo"></a>
            <div class="logo-text">Department of <br> Graphic Arts <br> and <br> Communication</div>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="{{ url_for('gac_home') }}#home">首頁</a></li>
                <li><a href="{{ url_for('gac_home') }}#intro">專展介紹</a></li>
                <li><a href="{{ url_for('gac_home') }}#works">全部作品</a></li>
                <li><a href="{{ url_for('gac_home') }}#about">關於圖傳系</a></li>
            </ul>
        </div>
        <div class="mobile-menu-btn"><span></span><span></span><span></span></div>
    </nav>
    <div class="mobile-menu">
        <ul>
            <li><a href="{{ url_for('gac_home') }}#home">首頁</a></li>
            <li><a href="{{ url_for('gac_home') }}#intro">專展介紹</a></li>
            <li><a href="{{ url_for('gac_home') }}#works">全部作品</a></li>
            <li><a href="{{ url_for('gac_home') }}#about">關於圖傳系</a></li>
        </ul>
    </div>

    <div class="project-detail-container">
        <img src="/static/gac/圖傳系_第一組_主視覺.png" alt="青春軼逝" class="project-hero-image">
        <div class="project-content">
            <h1>青春軼逝</h1>
            <hr>
            <div class="project-section">
                <h3>作品介紹</h3>
                <p>\透過動畫與漫畫的形式，講述五位青少年的故事/
青春是一段充滿變化與挑戰的旅程，無論是自我的探索、情感的困惑，還是來自外界的壓力，每個人都曾經歷過迷惘與煩惱；希望這些故事能夠喚起觀眾的共鳴，並傳遞——即使青春的道路充滿波折，它依然是人生中最寶貴的成長養分與轉變契機。</p>
            </div>
            <div class="project-section">
                <h3>指導教授</h3>
                <div>張晏榕、陳皇利</div>
            </div>
            <div class="project-section">
                <h3>小組成員</h3>
                <div>梁莉楹、林奕慈</div>
            </div>
        </div>
    </div>
    <script src="/static/gac/gac_main.js"></script>
</body>
</html>