<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>凌晨出走—迷你專輯製作 | 圖傳系115級畢業展</title>
    <link rel="stylesheet" href="/static/gac/gac_group_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fahkwang:wght@300;400;600&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo-container">
            <a href="{{ url_for('gac_home') }}"><img src="/static/gac/logo.png" alt="GAC Logo" class="logo"></a>
            <div class="logo-text">Department of <br> Graphic Arts <br> and <br> Communication</div>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="{{ url_for('gac_home') }}#home">首頁</a></li>
                <li><a href="{{ url_for('gac_home') }}#intro">專展介紹</a></li>
                <li><a href="{{ url_for('gac_home') }}#works">全部作品</a></li>
                <li><a href="{{ url_for('gac_home') }}#about">關於圖傳系</a></li>
            </ul>
        </div>
        <div class="mobile-menu-btn"><span></span><span></span><span></span></div>
    </nav>
    <div class="mobile-menu">
        <ul>
            <li><a href="{{ url_for('gac_home') }}#home">首頁</a></li>
            <li><a href="{{ url_for('gac_home') }}#intro">專展介紹</a></li>
            <li><a href="{{ url_for('gac_home') }}#works">全部作品</a></li>
            <li><a href="{{ url_for('gac_home') }}#about">關於圖傳系</a></li>
        </ul>
    </div>

    <div class="project-detail-container">
        <img src="/static/gac/圖傳系_第十五組_主視覺.png" alt="凌晨出走—迷你專輯製作" class="project-hero-image">
        <div class="project-content">
            <h1>凌晨出走—迷你專輯製作</h1>
            <hr>
            <div class="project-section">
                <h3>作品介紹</h3>
                <p>「凌晨出走」是一種粗糙卻真誠的聲音，來自樂團每個人心中最直接的感受。
而「街燈未滅」希望透過影像，將這樣的聲響帶去更遙遠的地方，也許是世界上的某一個角落、又或許只是某一個人心中的一座小島。希望世界上的某一個生命，能獲得打破孤獨的共鳴與希望，在凌晨寂靜的夜，被暖暖的街燈照亮。</p>
            </div>
            <div class="project-section">
                <h3>指導教授</h3>
                <div>涂卉</div>
            </div>
            <div class="project-section">
                <h3>小組成員</h3>
                <div>鄭鈞予、廖汛筠、謝妮珍、洪嘉祥、郭曉晴、唐真理</div>
            </div>
        </div>
    </div>
    <script src="/static/gac/gac_main.js"></script>
</body>
</html>